flows.json
[{"id":"c148b887.527fd8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"b4e29691.b9f4a8","type":"ibmiot in","z":"c148b887.527fd8","authentication":"apiKey","apiKey":"97f46a68.b99488","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":90,"y":140,"wires":[["479e10f5.fa1c5","10511be3.6dce04","558cf240.f8405c","e578c05a.f9e0b"]]},{"id":"558cf240.f8405c","type":"function","z":"c148b887.527fd8","name":"deekshit","func":"global.set('deekshit',msg.payload.deekshit)\nmsg.payload=msg.payload.deekshit\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["aafef630.7f0788","870ee11a.eed64"]]},{"id":"10511be3.6dce04","type":"function","z":"c148b887.527fd8","name":"siri","func":"global.set('siri',msg.payload.siri)\nmsg.payload=msg.payload.siri\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["44fd90d2.d624c","870ee11a.eed64"]]},{"id":"e578c05a.f9e0b","type":"function","z":"c148b887.527fd8","name":"shankar","func":"global.set('shankar',msg.payload.shankar)\nmsg.payload=msg.payload.shankar\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["97f25f60.514b","870ee11a.eed64"]]},{"id":"479e10f5.fa1c5","type":"function","z":"c148b887.527fd8","name":"priya","func":"global.set('priya',msg.payload.priya)\nmsg.payload=msg.payload.priya\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["7cfb4d26.73be54","870ee11a.eed64"]]},{"id":"6f8b71b1.188e9","type":"http in","z":"c148b887.527fd8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["367a112c.6fb67e"]]},{"id":"cc222935.d16f68","type":"http response","z":"c148b887.527fd8","name":"","statusCode":"","headers":{},"x":430,"y":400,"wires":[]},{"id":"367a112c.6fb67e","type":"function","z":"c148b887.527fd8","name":"attend","func":"msg.payload={'deekshit':global.get(\"deekshit\"),'siri':global.get(\"siri\"),'priya':global.get(\"priya\"),'shankar':global.get(\"shankar\")}\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["cc222935.d16f68"]]},{"id":"870ee11a.eed64","type":"debug","z":"c148b887.527fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":320,"wires":[]},{"id":"aafef630.7f0788","type":"ui_gauge","z":"c148b887.527fd8","name":"","group":"583ad48.a0aba2c","order":6,"width":0,"height":0,"gtype":"gage","title":"deekshit","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":60,"wires":[]},{"id":"44fd90d2.d624c","type":"ui_gauge","z":"c148b887.527fd8","name":"","group":"583ad48.a0aba2c","order":7,"width":0,"height":0,"gtype":"gage","title":"siri","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":100,"wires":[]},{"id":"7cfb4d26.73be54","type":"ui_gauge","z":"c148b887.527fd8","name":"","group":"583ad48.a0aba2c","order":8,"width":0,"height":0,"gtype":"gage","title":"priya","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":140,"wires":[]},{"id":"97f25f60.514b","type":"ui_gauge","z":"c148b887.527fd8","name":"","group":"583ad48.a0aba2c","order":9,"width":0,"height":0,"gtype":"gage","title":"shankor","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":180,"wires":[]},{"id":"97f46a68.b99488","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"583ad48.a0aba2c","type":"ui_group","z":"","name":"Default","tab":"3d94a0ff.d8d04","order":1,"disp":true,"width":4,"collapse":false},{"id":"3d94a0ff.d8d04","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]